<div class="slider-wrapper">
  <h3 class="mat-title"> Popular destinations </h3>
  <div class="home-slider">
    <mat-card><img src="assets/images/newyork@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Newyork</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img src="assets/images/San Francisco@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">San Francisco</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img src="assets/images/Chicago@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Chicago</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img src="assets/images/Marseille@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Marseille</h2>
      <div class="overlay"></div>
    </mat-card>
    <mat-card><img src="assets/images/newyork@2x.png" class="slider-img">
      <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
      <h2 class="mat-title">Newyork</h2>
      <div class="overlay"></div>
    </mat-card>
  </div>
</div>

<div class="slider-wrapper">
    <h3 class="mat-title"> Featured Places </h3>
    <div class="home-slider">
      <mat-card><img src="assets/images/Paris@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Paris</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img src="assets/images/Scotland@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Scotland</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img src="assets/images/Chicago@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Chicago</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img src="assets/images/Marseille@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Marseille</h2>
        <div class="overlay"></div>
      </mat-card>
      <mat-card><img src="assets/images/newyork@2x.png" class="slider-img">
        <mat-icon class="favorite"><i class="material-icons">favorite</i></mat-icon>
        <h2 class="mat-title">Newyork</h2>
        <div class="overlay"></div>
      </mat-card>
    </div>
  </div>