<mat-toolbar color="primary">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close><mat-icon>arrow_back</mat-icon></button>
    </mat-dialog-actions>
    <span class="header-title"> Refine</span>
    <span class="example-spacer"></span>
  <mat-dialog-actions>
    <button class="small-btn" mat-dialog-close>APPLY</button>
  </mat-dialog-actions>
  </mat-toolbar>
  <div class="filter-container">
          
  <mat-form-field>
    <mat-select placeholder="Sort by" value="Price - low to high">
      <mat-option value="Price - low to high">Price - low to high</mat-option>
      <mat-option value="Price - low to high">Price - high to low</mat-option>
      <mat-option value="Price - low to high">Nearest first</mat-option>
      <mat-option value="Price - low to high">Star rating</mat-option>
    </mat-select>
  </mat-form-field>
  <h3 class="mat-title">I am travelling for</h3>
  <mat-button-toggle-group>
          <mat-button-toggle value="bold" selected>Business</mat-button-toggle>
          <mat-button-toggle value="bold">Leisure</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h3 class="mat-title">Rating preferences</h3>
  <div class="star-box">
    <star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></star-rating>
  </div>
  <mat-divider></mat-divider>
  <h3 class="mat-title">Area preferences</h3>
  <mat-chip-list>
      <mat-chip class="mat-body-1" color="accent" selected>All</mat-chip>
      <mat-chip class="mat-body-1">Freemon Street</mat-chip>
      <mat-chip class="mat-body-1" >Paris Hotel</mat-chip>
      <mat-chip class="mat-body-1">Venitian Hotel</mat-chip>
      <mat-chip class="mat-body-1" >Bellagio Hotel</mat-chip>
    </mat-chip-list>
  </div>