.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 111;
    background: #6200EE;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 8px;
  }
  .header-title{
      margin-left: 20px;
  }
  .search-subheader{
    background: #6200EE;
    border-top: 1px solid #5e02d2; 
    display: flex;
    padding: 10px 20px;
  }
  .mat-form-field{
      width: 33.33%;
      color: #fff;
      padding: 0px;
  }
  
  .mat-input-element:disabled, .mat-form-field-label-wrapper{
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 200;
  }
  #filter-tabs{
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
    border: none;
    border-radius: 0px;
  }
  .mat-button-toggle{
    width: 100%;
    background: #6e00f8;
  }
  #filter-tabs mat-icon{
    color: #fff;
    opacity: 0.54;
  }
  .price{
    transform: rotate(90deg);
  }
  #filter-tabs .mat-button-toggle-checked mat-icon{
    opacity: 1;
  }