.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 111;
  background: #6200EE;
}
.mat-card-content{
	margin-bottom: 50px;
}
.home-tabs{
	top: 56px;
	width: 100%;
	background: inherit;
}
.mat-tab-label{
    height: 80px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 8px;
}
.home-tabs .mat-icon{
  position: absolute;
  top: 20px;
}
.home-tabs .mat-tab-header{
  background:red;
}
.search-container{
  padding: 10px;
}
.mat-form-field{
  width: 100%;
}
.date-container .mat-form-field{
  width: 50%;
}
.search-container button{
    width: 100%;
    font-weight: normal;
    letter-spacing: 1px;
    background: #09af00;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: #fff;
}
.logo-img{
  height: 22px;
  margin-top: 8px;
}