<mat-toolbar color="primary" class="search-location-popup">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close><mat-icon>arrow_back</mat-icon></button>
    </mat-dialog-actions>
      <input type="text" placeholder="Search for city or location" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          
        </mat-autocomplete>
  </mat-toolbar>
  <mat-option [value]="option">
    <mat-icon>location_city</mat-icon> Lasvegas, Nevada
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>location_city</mat-icon> Los Angeles,California
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>location_city</mat-icon> Los Angeles,California
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>location_on</mat-icon> London, England, United Kingdom
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>flight</mat-icon> Losuia, Papua New Guinea - 
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>flight</mat-icon> Las Vegas, NV, United States - McCarran 
</mat-option>
<mat-divider></mat-divider>
<mat-option [value]="option">
    <mat-icon>hotel</mat-icon> BWI Airport Marriott
</mat-option>