<mat-card class="example-card" routerLink="/hotel-details">
    <mat-icon class="star-rating">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
    </mat-icon>
    <mat-icon class="favorite">
        <i class="material-icons">favorite</i>
    </mat-icon>
  <div class="card-img" style="background-image : url('../../assets/images/hotel-img-01.jpg')">
  </div>
  <mat-card-content>
    <div class="hotel-title">
        <h4 class="mat-subheading-2">
            Holiday Inn Express Poughkeepsie
          </h4>
          <h4 class="mat-subheading-1">
              Montelago Blv
          </h4>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <h5 class="caption">19450 reviews</h5>
    </div>
    <div class="hotel-Price">
          <h4 class="mat-subheading-2">
            49200<sup>*</sup>
          </h4>
          <span class="caption">Pts/night</span>
          <h4 class="mat-subheading-1">
              $220
          </h4>
          <span class="caption">USD Avg/night</span>
    </div>
  </mat-card-content>
</mat-card>
