<mat-toolbar color="primary">
    <mat-icon routerLink="/search-result">arrow_back</mat-icon>
    <span class="header-title"> The Westin Lake, Las Vegas</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
<div class="img-gallery">
  <mat-grid-list cols="1" rowHeight="4:3">
      <mat-grid-tile><img src="assets/images/hotel-img-01.jpg"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="3:3">
      <mat-grid-tile><img src="assets/images/hotel-img-01@2x.png"></mat-grid-tile>
      <mat-grid-tile><img src="assets/images/hotel-img-03@2x.png"></mat-grid-tile>
      <mat-grid-tile><img src="assets/images/84329972.jpg"></mat-grid-tile>
  </mat-grid-list>
  <div class="details-wrapper">
    <div class="hotel-details-row">
      <p class="mat-subheading-2">101 montelago boulevard henderson NV 89011, <br>Unitated States<br> 1850 500 2121</p>
      <div class="review-details">
        <mat-icon class="favorite">
            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
        </mat-icon>
        <img class="tripadviser-icon" src="assets/images/tripadviser.png">
        <div class="mat-body-1">19450 reviews</div>
      </div>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12892.59530395281!2d-114.9233787!3d36.1142318!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8702f9204cb75229!2sThe+Westin+Lake+Las+Vegas+Resort+%26+Spa!5e0!3m2!1sen!2sin!4v1545305065627" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
<br><br>
    <mat-divider></mat-divider>
<br>
<div class="search-subheader">
    <div class="date-container">
      <mat-form-field appearance="legacy">
        <mat-label>Check In</mat-label>
        <input matInput placeholder="select date" value="25/01/2019" disabled> 
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Check Out</mat-label>
        <input matInput placeholder="select date" value="30/01/2019" disabled> 
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Guest</mat-label>
        <input matInput placeholder="2 Adults, 0 Child" value="2 Adults, 0 Child" disabled> 
      </mat-form-field>
    </div>
  </div>
</div>
<div class="details-tabs">
<mat-tab-group>
    <mat-tab label="OVERVIEW"> 
      <div class="description">
          <h3>Description</h3>
          <p>Set on 3600 acres and nestled along Lake Las Vegas, The Westin Lake Las Vegas Resort & Spa offers comfortable, spacious guest rooms, access to world class golf courses and a variety of on-site dining options. The Las Vegas Strip is 30 minutes’ drive away.
              Guest rooms at The Westin Lake Las Vegas Resort & Spa boast flat-screen TVs.</p>
              <p>Guest rooms at The Westin Lake Las Vegas Resort & Spa boast flat-screen TVs. Guests can relax at the end of the day with luxurious Westin Heavenly Bath toiletries and cozy bathrobes. After a restful night of sleep, guests can wake up with a free cup of in-room coffee.</p>
              <p>The Westin Lake Las Vegas offers a variety of dining options. Marssa Steak & Sushi serves world-class Japanese and Asian-fusion cuisine, while Rick's Cafe serves American cuisine with Mediterranean influences. The poolside Sandsa Bar & Grill offer exotic cocktails and delicious menu items. After dinner, visitors can have a signature cocktail in the hotel's Arabesque Lounge.
                </p>
          <mat-divider></mat-divider>
          <h3>Amenities</h3>
              <div class="amenities-slider">
                  <mat-icon>
                    <i class="material-icons">ac_unit</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">pool</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">spa</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">smoking_rooms</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">room_service</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">local_parking</i>
                  </mat-icon>
                  <mat-icon>
                    <i class="material-icons">restaurant</i>
                  </mat-icon>
                  <mat-icon> 
                    <i class="material-icons">wifi</i>
                  </mat-icon>
                  <mat-icon>
                      <i class="material-icons">room_service</i>
                    </mat-icon>
                    <mat-icon>
                      <i class="material-icons">local_parking</i>
                    </mat-icon>
                    <mat-icon>
                      <i class="material-icons">restaurant</i>
                    </mat-icon>
                    <mat-icon> 
                      <i class="material-icons">wifi</i>
                    </mat-icon>
                  <mat-icon> <i class="material-icons">fitness_center</i>
                  </mat-icon>
                  <button mat-button color="primary">MORE</button>
              </div>
              <mat-divider></mat-divider>
              <h3>Hotel policies</h3>
              <div class="policies-details">
                <p class="heading">Check-in</p>
                <p>Check-in time start at 12:00PM<br>Check-in time end at midnight.<br>Minimum checkin age in 21.</p>

                <p class="heading">Check-out</p>
                <p>Check-out time is 11:00AM</p>

                <p class="heading">Fees</p>
                <p>This ubiquitous surcharge runs anywhere from $10 to $60 per day and can cover a wide variety of services and amenities, such as a business center, a pool, a gym, daily newspaper delivery, housekeeping or “free” local calls.</p>
                
                <p class="heading">Payment types</p>
                <img src="assets/images/payment-icons@2x.png">
              </div>
      </div>
    </mat-tab>
    
    <mat-tab label="ROOMS" > </mat-tab>
    <mat-tab label="REVIEW">
      <div class="review-wrapper">
          <div class="mat-body-2">Second time I stay here,Great for vacation.</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Amazing stay, calm place with amazing service.</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Outstanding Stay! Fantastic service! Excellent staff! Amazing property!</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Absolutely Perfect Stay!</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Second time I stay here,Great for vacation.</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Second time I stay here,Great for vacation.</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="review-wrapper">
          <div class="mat-body-2">Second time I stay here,Great for vacation.</div>
          <img class="tripadviser-icon" src="assets/images/tripadviser.png">
          <div class="mat-small">Review on July 23, 2018 | visited on July 2018</div>
          <div class="mat-body-1">There is a reason you pay more to stay here. The property is beautiful, the staff are amazing and you will experience luxury at its best. This may be the only hotel on the strip where you don't realize you are in Las Vegas until you look at the window or go outside. It is quiet and if you are looking for a non-gaming property (which some people don't like but why trash the hotel because of that?), you found your spot. 
          </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <a (click)="openDialog()" class="select-room-link">tab</a>
</div>
<home-footer></home-footer>